@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper {
  height: auto;
  max-width: 100vw;
  overflow: hidden;
}
/* nav-bar */
.top {
  max-width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}
.right {
  display: flex;
  gap: 3rem;
}
.hamburger-expansion {
  display: none;
}
.menu-button {
  display: none;
  margin: auto;
}
.edie {
  width: 50%;
  font-family: "Heebo", sans-serif;
  font-size: 2.6rem;
  font-weight: 800;
  line-height: 3rem;
  letter-spacing: 0em;
  text-align: left;
}
.menu {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}
/* link given */
a {
  text-decoration: none;
  color: black;
}
/* team-part */
.content {
  max-width: 100%;
}
.upper,
.lower {
  margin: 2rem 10rem;
  padding: 1rem;
}

.que {
  color: #2d9cdb;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.6875rem;
  letter-spacing: 0em;
  text-align: left;
}
.lower .description {
  margin: 4rem 0;
}
.heading {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  line-height: 4rem;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
}
.top-image {
  max-width: 100%;
  margin: 0 2rem;
}
.top-image img {
  width: 100%;
  border-radius: 1rem;
}
.hero2 {
  display: none;
}
.description {
  margin: 1rem 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.687rem;
  letter-spacing: 0em;
  color: #4f4f4f;
}
.contact-you {
  color: #828282;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.3125rem;
  letter-spacing: 0em;
  text-align: left;
}
.joinus {
  position: relative;
  width: fit-content;
}
.joinus input {
  border: none;
  background-color: #f2f2f2;
  border-radius: 1.5rem;
  padding: 0.6rem;
}
.join a {
  color: #f2f2f2;
}
.join {
  position: absolute;
  right: 0;
  border-radius: 1.5rem;
  padding: 0.6rem;
  border: none;
  background-color: #2d9cdb;
}
.button-text {
  align-self: center;
  color: #828282;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.email {
  font-size: 14px;
}
/* service section */
.services {
  margin: 10rem;
}
.service-heading {
  font-size: 2.5rem;
}
.service-content {
  margin: 5rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.feature {
  padding: 2rem;
  border-radius: 1rem;
}
.pencil,
.code,
.storage {
  width: 67px;
  height: 67px;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
}
.pencil {
  background: #2d9cdb;
}
.code {
  background-color: #27ae60;
}
.storage {
  background-color: #eb5757;
}
#icon1,
#icon2,
#icon3 {
  align-self: center;
}
.sub-heading {
  margin: 1rem 0;
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4rem;
}
.get-started {
  border-radius: 0.75rem;
  background: #e0e0e0;
  width: 9rem;
  height: 3rem;
  display: flex;
  justify-content: center;
}
.feature:hover {
  transform: scale(1.1);
  transition: 0.4s;
  box-shadow: 0px 10px 30px 0px rgba(51, 51, 51, 0.1);
}
.feature:hover .get-started {
  background-color: #2d9cdb;
  transition: 0.4s;
}
.feature:hover .service-buttons {
  color: white;
  transition: 0.4s;
}
.example {
  margin-top: 10rem;
  margin-left: 10rem;
  margin-right: 10rem;
}
.example-content {
  display: flex;
  flex-wrap: wrap;
}
.example-1,
.example-2,
.example-3,
.example-4 {
  position: relative;
  flex-basis: 45%;
  margin: 0.5rem;
}
.inside1 {
  position: absolute;
  top: 10rem;
}
.inside3 {
  position: absolute;
  top: 20rem;
}
.inside4 {
  position: absolute;
  top: 10rem;
}
.image-left,
.image-right {
  border-radius: 1.5rem;
}
.see-more {
  position: absolute;
  margin-top: 10rem;
  right: 0;
  align-self: flex-end;
  color: #2d9cdb;
  font-family: "Poppins";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.image-caption {
  margin-top: 1rem;
  color: var(--gray-1, #333);
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.team {
  margin-top: 70rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.team-info {
  justify-self: flex-start;
  align-self: center;
}
.team-images {
  max-width: 80%;
  height: auto;
  display: grid;
  gap: 6%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.item1 {
  align-self: self-start;
}
.item2 {
  grid-row: 1/3;
  align-self: center;
}
.item3 {
  align-self: end;
}
/* .team-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    width: 15rem;
} */
#team-heading {
  line-height: normal;
}
#meet {
  color: #eb5757;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#person-1,
#person-2,
#person-3 {
  border-radius: 13%;
}
.quote {
  /* gap: 3rem; */
  margin: 10rem;
}
.end-quote {
  color: var(--gray-1, #333);
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
}
.author {
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
}
.author-info {
  font-family: "Poppins", sans-serif;
}
.author-info .author-name {
  font-weight: 600;
}
.author-desc {
  color: #828282;
}
/* .author{
    display: flex;
    height: 5rem;
    margin-left: 4rem;
    justify-content: flex-start;
}
#person-4{
    object-fit: contain;
}
.author-info{
    margin-left: -4rem;
}
*/
.last {
  list-style-type: none;
  font-family: "poppins", sans-serif;
}
.footer {
  height: auto;
  background-color: #100e1d;
  display: flex;
  color: white;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5rem;
}
.footer-box {
  margin: 5rem 0;
}
.end-edie {
  text-decoration: none;
  color: white;
}
.end-contact {
  font-size: 14px;
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
  color: white;
}
.social-media {
  display: flex;
  gap: 0.5rem;
}
.twitter {
  margin-top: 1px;
}
.social {
  position: relative;
  bottom: 0;
}

/* media queries */

@media only screen and (max-width: 1100px) {
  .service-content {
    display: block;
  }
  .feature {
    margin: 5rem 0;
  }
  .team {
    margin-top: 60rem;
  }
}
@media only screen and (max-width: 900px) {
  .menu-button {
    display: inline;
  }
  .hamburger-expansion {
    display: flex;
    position: absolute;
    z-index: 2;
    padding: 0 5rem;
    margin-right: 1rem;
    border-radius: 1rem;
    flex-direction: column;
    right: 0;
    height: 100%;
    background-color: rgb(194, 194, 194);
  }
  .menu {
    margin: 2rem 0rem;
  }
  .initial {
    display: none;
  }

  /* top image */
  .top-image {
    margin: 0 1rem;
  }
  /* example */

  .example-content {
    display: block;
    margin: 0;
  }
  .example-1,
  .example-2,
  .example-3,
  .example-4 {
    position: static;
    margin-top: 5rem;
  }
  .inside1,
  .inside4,
  .inside3 {
    position: static;
  }
  .see-more {
    position: static;
    margin-top: 5rem;
  }
  /* team */
  .team {
    justify-content: inherit;
    margin-top: 10rem;
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .team-images {
    max-width: 100%;
  }
}
@media only screen and (max-width: 720px) {
  .upper,
  .lower {
    margin: 2rem;
    line-height: normal;
  }
  .heading,
  .service-heading {
    font-size: 2rem;
  }
  .description {
    font-size: 0.8rem;
  }
  .lower .description {
    margin: 1rem 0;
  }
  .sub-heading {
    font-size: 1.2rem;
  }
  .team-work {
    display: none;
  }
  /* topimage */

  .hero1 {
    display: none;
  }
  .hero2 {
    display: block;
  }

  /* services */
  .services {
    margin: 2rem;
  }
  /* example */
  .example {
    margin: 0 3rem;
  }
  /* team */
  .team {
    margin: 10rem 3rem;
  }
  /* quote */

  .quote {
    margin: 5rem 1rem;
  }
  .end-quote {
    font-size: 1.5rem;
  }
  /* footer change */
  .footer {
    flex-direction: column;
    gap: 0;
  }
  .footer-box {
    margin: 2rem 1rem;
  }
  .hamburger-expansion {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 400px) {
  /* top */
  .upper {
    margin: 0 0.5rem;
  }
  .que {
    font-size: 12px;
  }
  .lower {
    margin: 0 0.5rem;
  }
  .heading,
  .service-heading {
    font-size: 24px;
    line-height: normal;
  }
  /* sevices */
  .services {
    margin: 6rem 1.5rem;
  }
  .service-content {
    margin: 0;
  }
  .feature {
    padding: 1rem;
  }
  /* example */
  .example .heading {
    margin: 0 1rem;
  }
  .example {
    margin: 0;
  }
  .image-caption,
  .see-more {
    font-size: 18px;
  }
  /* team */
  .team {
    margin: 10rem 0.5rem;
  }
}
/* 
/* first query at 1154px width */
/* @media only screen and (max-width: 1288px) {
    .service-content{
    }
    .example-content{
        gap: 2rem;
    }
} */
/* @media only screen and (max-width: 1240px){
    /* example-straight,equal gap, width */

/* #left{
        justify-content: center;
    }
    #right{
        justify-content: center;
    }
    #left, #right{
        height: 45rem;
    }
}
@media only screen and (max-width: 960px)
{
    /* top-heading, */
/* .upper,.lower{
        margin:auto;
    }
    .lower{
        height: 25rem;
    }
    .que, .description,#email{
        font-size: 12px;
    }
    .heading{
        width: 100%;
        font-size: 1.5rem;
        line-height: normal;
    }
    .menu{
        display: none;
    }
    .menu-button{
        display: inline-block;
    } */
/* top-menu and service-content-column and teaminfo-left*/
/* services-content and heading */
/* .services{
        width: 100vw;
        margin-top:10rem;
        gap: 2rem;
    }
    .service-content{
        margin: 0;
    }
    .service-heading, .sub-heading{
        font-size: 1.5rem;
    }
    .image-caption ,.see-more{
        font-size: 1.125rem;
    } */
/* team info -left */
/* .team-info{
        align-content: flex-start;
    }
}
@media only screen and (max-width: 645px){
    /* team images-center */
/* #t-right{
        margin: auto;
    }
    /* /* author -center  */

/* .author{
        margin-left: 0;
    }
    #end-quote{
        margin:auto;
        min-width: 20rem;
        font-size: 1.5rem;
        line-height: normal;
    }
}
@media only screen and (max-width: 550px)
{ */
/* example-resizing */
/* .ex-left,.ex-right{
        width: 100%;
    }
    #left, #right{ */
/* height: 30rem;
    } */
/* service and almost all site- width100% */
/* .upper,.lower{
        width: 20rem;
        margin: auto;
    }
    .example-content{
        gap: 0rem;
    } */
/* footer-column and adjust */
/* done with website---- */

/* 
} */
/* .head{
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    color: #333333;
    width: 100%;
    max-width: 100%;
}

.menu-button{
    display: none;
}
.top{
    display: flex;
    max-width: 100%;
}
.upper{
    margin-top: 6rem;
    margin-left: 9rem;
    width: 33rem;
    max-width: 100%;
}




.lower{
    width: 22rem;
    margin-left: 9rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.box{
    display: flex;
    height: 2.5rem;
    width: 16rem;
    margin-top: 1rem;
    justify-content: space-between;
    background-color: #F2F2F2;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    max-width: 100%;
}
.contact-you{
    max-width: 100%;
}
.contact-you label{
    color: #828282;
    font-family: 'Poppins',sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.3125rem;
    letter-spacing: 0em;
    text-align: left;
}
.button-text{
    transform: translateY(22%);
    margin-left: 1rem;
    color: #828282;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.box .join{
    text-align: center;
    width: 4rem;
    border-radius: 19px;
    top: 10%;
    background-color: #2D9CDB;
    max-width: 100%;
}
.join p{
    color: white;
    margin: 0.6rem;
}

.content{
    margin: 8rem;
    max-width: 100%;
}

.services
{
    width: 20rem;
    max-width: 100%;
}
.service-heading{
    font-family: 'Poppins',sans-serif;
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 2.75rem;
    letter-spacing: 0em;
    width: 24rem;
    text-align: left;
}
.service-content{
    display: flex;
    margin-left: 4rem;
    min-width:80vw;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;    
}
.feature{
    border: none;
    padding: 2rem;
    border-radius: 1.5rem;
    width: 30%;
    max-width: 100%;
}
#pencil{
    background-color: #2D9CDB;
    border-radius: 1.2rem;
    width: 4rem;
    height: 4rem;
    margin: 3rem 2rem 3rem;
}
#code{
    background-color: #27AE60;
    border-radius: 1.2rem;
    width: 4rem;
    height: 4rem;
    margin: 3rem 2rem 3rem;
}
#storage{
    background-color:#EB5757;
    border-radius: 1.2rem;
    width: 4rem;
    height: 4rem;
    margin: 3rem 2rem 3rem;
}


.service-buttons{
    margin-left: 0;
    padding: 0.3rem;
}


.example{
    margin-top: 8rem;
    max-width: 100%;
}

.ex-parts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 100%;
}
.images-left{
    border-radius: 2rem;
    height: 28rem;
    width: 30rem;
    max-width: 100%;
}
.image-1, .image-2{
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.images-right{
    border-radius: 2rem;
    height: 28rem;
    width: 30rem;
    max-width: 100%;
}
.image-3, .image-4{
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.image-caption
{
    margin-top: 1rem;
    color: var(--gray-1, #333);
    font-family: 'Poppins',sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.image-4{
    position: relative;
}
.see-more{
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    
}
.team{
    margin-top: 10rem;
    display: flex;
    height: 35rem;
    justify-content: space-evenly;
    max-width: 100%;
}
.team-info{
    width: 15rem;
    margin-right: 10rem;
    max-width: 100%;
}

#t-image-1{
    width: 16rem;
    max-width: 100%;
}
.t-image{
    display: flex;
    max-width: 100%;
}
.team-heading{
    font-family: 'Poppins',sans-serif;
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 2.75rem;
    letter-spacing: 0em;
    width: 17rem;
    text-align: left;
}
#t-image-1{
    display: flex;
    align-self: center;
}
#t-image-2{
    width: 13rem;
}
#person-3{
    width: 15rem;
    border-radius: 2rem;
}
#person-1{
    width: 11rem;
    border-radius: 1rem;
}
#person-2{
    width: 13rem;
    border-radius: 1rem;
}
.ending{
    width: 55rem;
    text-align: left;
    margin-left: 4rem;
    max-width: 100%;
}
#end-quote{
    
    max-width: 100%;
}
.author{
    display: flex;
}
#person-4{
    width: 5rem;
    border-radius: 1rem;
}
.author-info{
    margin-left: 1rem;
}
#author-name{
    color: var(--gray-1, #333);
    font-family: 'Poppins',sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#author-desc{
    color: var(--gray-3, #828282);
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #100E1D;
    min-height: 20rem;
    padding: 4rem;
    width: 100%;
    max-width: 100%;
}
#last-button{
    color: #FFF;
    font-size: 1.125rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
}
#end-edie{
    color: var(--gray-6, #F2F2F2);
    font-family: 'Heebo';
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.end-email{
    color: white;
}


@media (max-width:1075px) {

    .wrapper{
        width:100vw;
        height: auto;
    }
    .head{
        width: 100%;
        justify-content: space-between;
        height: auto;
    }
    #menu{
        display: none;
    }
    .menu-button{
        display: inline;
    }
    .top-image{
        width: 100vw;
        height: auto;
    }
    .top-image img{
        width: 100%;
    }
    #teamwork{
        width: 100%;
    }
    .heading{
        font-size: 1.5rem;
    }
    .description{
        font-size: 0.8rem;
    }
    .service-heading{
        font-size: 1.5rem;
    }
    .image-caption{
        font-size: 1.125rem;
    }
    .see-more{
        justify-content: flex-start;
    }
    .service-content{
        width:100%;
        margin: 0;
    }
    .feature{
        width: 100%;
    }
    #feature-1{
        width: 100%;
    }
    .left,.right{
        width: 100%;
    }
    .image-1,.image-2{
        height: 35rem;
        width: 100%;
    }
    .image-3,.image-4{
        height: 35rem;
    }
    .see-more{
        margin-top: 1rem;
        position:static;
        font-size: 1.125rem;
    }
    .team{
        width:100%;
        flex-wrap: wrap;
    }
    .ending{
        margin-left: 0;
        width: 20rem;
        margin-top: 10rem;
    }
    #end-quote{
        font-size: 1.5rem;
    }
    .footer{
        width: 100%;
        height: 100vh;
        flex-wrap: wrap;
        align-content:space-around;
    }
    .end{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
}

@media (max-width:670px) {
    .head{
        padding: 0;
    }
    #
} */
